* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reuseables*/
.displayBlock {
    display: block !important;
}

.displayFlex {
    display: Flex !important;
}
/* =============== */

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    background-color: rgb(110, 110, 167);
}

.monthDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftArrow, .rightArrow {
    padding: 0 10rem;
    font-size: 2rem;
}

.whichMonth {
    font-size: 30px;
}

aside {
    display: inline-block;
    width: 20%;
}

.TimeAndDateDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid black;
    margin-top: 0.05em;
}
.TimeAndDateDisplay p {
    padding: 1rem;
    font-size: 20px;
}

.toDoDisplay{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
}
.toDoDropdown {
    padding: 20px;
    border: 2px solid black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropArrow{ 
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.2s;
}

.toDoItemList {
    display: none;
}

.currentToDoItem {
    padding: 1rem;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.removeToDo {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: none;
    background-color: rgb(241, 101, 101);
}

.addDayEvent {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.addEventWindow {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 20rem;
    bottom: 20rem;
    border: 1px solid black;
    padding: 2rem;
    gap: 1rem;
    background-color: #6E6FA7;
}

.addEventWindow i {
    position: relative;
    left: 16.5rem;
    bottom: 1rem;
}

.addEventWindow #title {
    padding: .5rem 1rem;
    font-size: 20px;
}

.addEventWindow .selectDate {
    display: flex;
    justify-content: space-evenly;

}
.addEventWindow #day {
    width: 3rem;
}
.addEventWindow #year {
    width: 5rem;
}
.addEventWindow #description {
    resize: none;
}
.addEventWindow #submit {
    width: 4rem;
    padding: .5rem;
}

/* --------------------------CALENDER--------------------*/
main {
    display: inline-block;
    width: 80%;

}

table {
    border-collapse: collapse;
    background: white;
    color: black;
    border: solid rgba(0, 0, 0, .2);
    width: 100%;
    height: 80vh;
    text-align: center;
    
   
}

th {
    font-weight: bold;
    background: rgb(110, 110, 167);
    border: solid rgba(0, 0, 0, .2);
    height: 12vh;
}

td {
   font-weight: bold;
   border: solid rgba(0, 0, 0, .2);
}

tr, th, td {
    
}

td {
    font-size: 20px;
}

.box {
    background-color: lightgray;
}
