* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #181D31;
  color: #FFFBEB;
}

.currentMonth {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.monthDisplay {
  text-align: center;
  width: 13rem;
  font-size: 20px;
}

.Container {
  display: flex;
  flex-grow: 1;
}

.timeAndDateDisplay {
  padding: 3rem 0;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  border: 1px solid black;
  background-color: #FFFBEB;
  border-radius: 7px;
}

.filler {
  padding: 0.7rem 0;
  width: 25vw;
  background-color: #263159;
}
.week {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: .5rem 0;
}

.weekDays {
  width: calc(100% / 7);
  text-align: center;
}

.weekdiv {
  background-color: #263159;
  display: flex;
}

.calendarDisplay {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: #FFF5EA;
}

.calendarDay {
  width: calc(100% / 7 - 2px);
  padding: 1rem;
  margin: 1px;
  border: 1px solid black;
  border-radius: 7px;
}

.emptyCalendarSpace {
    border: none;
}

.task-container {
    width: 25vw;
    min-height: 15vh;
    background-color: #D6D2C4;
}

.newTask {
    position: relative;
    padding: 2rem 1rem;
    background-color: #495579;
    border-radius: 7px;
}

#taskInput, #dateTodo {
    height: 2rem;
    width: 18vw;
    position: relative;
    border: 1px solid #5f6f94;
    border-radius: 5px;
    padding: 0 .5rem;
  }
  
  .newTask button {
    width: 3rem;
    height: 1.9rem;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #82C3EC;
    color: white;
    font-weight: 700;
  }
  
  .taskList {
    padding: 1rem;
  }
  
  
  .task {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: #5f6f94;
    padding: .5rem;
    border-radius: 10px;
  }
  
  .taskText {
    background-color: transparent;
    color: black;
    border: none;
  }
  
  .editTextInput, .editDateInput {
    display: none;
    background-color: transparent;
    width: 15vw;
    height: 1.5rem;
    padding: 0 .5rem;
    border-radius: 5px;
    border: 1px solid #313f5e;
  }
  
  #dateTodo {
    margin-top: 1rem;
  }

#taskList {
  overflow-y: auto;
  height: 300px;
}

.trash {
  cursor: pointer;
}

.textInput {
  background-color: #5f6f94;
}

button.edit {
  background-color: #5f6f94;
}

input.textInput {
  width: 16vw;
}

#todoCount {
  margin-top: 1.9rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

div.content {
  padding: 5px;
}

.taskActions {
  display: flex;
  flex-direction: column;
  text-align: center;
}
