@media (max-width: 850px){
    tr, th, td, table {
        padding: 3vw;
    }
}

@media (max-width: 650px){
    tr, th, td, table {
        padding: 2vw;
        
    }
    .calendar {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px){
   table {
        display: none;
    }
}
